﻿@model FizzBuzzWeb.Models.FizzBuzzParameters
@{
    ViewBag.Title = "Index";
}

<h2>Input</h2>

@using (Html.BeginForm("DisplayResult", "Home", FormMethod.Get))
{

    <div>
        <label for="InputNumber">input number</label>

        @Html.ValidationMessageFor(a => a.InputNumber, " ")

        <input type="text" id="InputNumber" class="form-control" name="InputNumber" value="@Model.InputNumber" />

        <button type="submit" name="submit" class="btn btn-info" id="submit" value="submit">submit</button>
    </div>

}
